// @use '../abstracts/' as *;

.buttonPick {
  &:focus {
    animation: waving 0.4s ease infinite;
  }
}
.btn {
  position: relative;
  display: inline-block;
  border: 0;
  outline: none;
  cursor: pointer;

  &:focus {
    outline: none;
    box-shadow: inset 0 -0.25rem 0 rgba(0, 0, 0, 0.1), 0px 0px 2px 0.15rem #fff,
      0 0 1px 0.3rem $scoreText;
  }

  &:focus-visible {
    box-shadow: inset 0 -0.25rem 0 rgba(0, 0, 0, 0.1), 0 0 1px 0.15rem #fff,
      0 0 1px 0.3rem $scoreText;
  }

  &--modalClose {
    background-color: transparent;

    &:hover {
      transform: scale(1.05);
    }
  }
  &--rules {
    border-radius: rem(15);
    border: rem(2) solid $whiteColor;
    color: $whiteColor;
    padding: rem(12) rem(42);
    background-color: transparent;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 1px;
    // @include style-text($col: $lightGrayishBlue);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-property: color;
    transition-duration: 0.8s;
    &:hover,
    &:focus,
    &:active {
      color: $darkText;

      &::before {
        transform: scaleX(1);
        transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
      }
    }
    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $whiteColor;
      border-radius: rem(15);
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition-property: transform;
      transition-duration: 0.5s;
      transition-timing-function: ease-out;
    }
  }
  &--reset {
    position: relative;
    color: $darkText;
    border-radius: rem(10);
    padding: rem(14) rem(70);
    font-size: rem(20);

    @include breakpoint-down(medium) {
      padding: rem(14) rem(30);
    }

    &:active {
      transform: translateX(rem(-10));
    }
    &:hover {
      transform: scale(0.97);
      transition: all 0.3s ease;
      color: red;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: $whiteColor;
        border-radius: 10px;
        animation: playAgain 0.8s ease;
      }
    }
  }
}

.gameboard__game--choices {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 12.5rem;
  width: 12.5rem;
  border-radius: 50%;
  margin: rem(17) rem(40);

  @include breakpoint-down(medium) {
    height: 8rem;
    width: 8rem;
  }
  .choices-icon {
    z-index: 10;
    width: rem(68);

    @include breakpoint-down(medium) {
      width: rem(50);
    }
  }
  &::before {
    content: '';
    position: absolute;
    background-color: $whiteColor;
    border: 1px solid rgba(55, 55, 55, 0.2);
    border-radius: 100%;
    height: 9rem;
    width: 9rem;

    @include breakpoint-down(medium) {
      height: 6rem;
      width: 6rem;
    }
  }

  &:hover {
    transform: scale(0.98);
    animation: shadowmove 1s infinite, waving 0.4s ease-in-out;
    transition: all 0.3s;
  }
}
.computerChoice,
.playerChoice {
  width: 17rem;
  height: 17rem;

  .choices-icon {
    width: rem(96);

    @include breakpoint-down(medium) {
      width: rem(65);
    }
    @include breakpoint-down(small) {
      width: rem(45);
    }
  }
  @include breakpoint-down(medium) {
    width: 10rem;
    height: 10rem;
  }
  @include breakpoint-down(small) {
    width: 8rem;
    height: 8rem;
    margin: rem(20) auto 0;
  }
  &::before {
    content: '';
    position: absolute;
    background-color: $whiteColor;
    border: 1px solid rgba(55, 55, 55, 0.2);
    border-radius: 100%;
    height: 13rem;
    width: 13rem;
    @include breakpoint-down(medium) {
      width: 8rem;
      height: 8rem;
    }
    @include breakpoint-down(small) {
      width: 6rem;
      height: 6rem;
    }
  }
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: $radialGradient;
    z-index: -1;
    opacity: 0;
  }
  &.winnerShadow {
    animation: shadowmove 1s infinite !important;
  }
}
.btn--paper {
  background-image: $paperGradient;
}

.btn--rock {
  background-image: $rockGradient;
}

.btn--scissor {
  background-image: $scissorsGradient;
}
