// @use '../abstracts/' as *;

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 60;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-500%);
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: transform 0.5s ease-in-out;
  padding: 0 rem(10);

  &.show-modal {
    transform: translate(0);
    opacity: 1;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: rem(10);
  padding: rem(48);

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(30);
  }
}
